@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {
    font-size: 12px;
    font-family: 'Droid Arabic Naskh', serif;
    text-align: right;
    padding: 0px 40px;
    background-color: #fbfbfb;

    &[dir=ltr] {
        text-align: left;
    }

    .language {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        cursor: pointer;
    }

    .blogs-page {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .blogs-list {
            flex: 1;
            min-width: 450px;
            /* min device width - iPhone 5*/
            max-width: 750px;
            margin: 0 40px;
        }
        .more-blogs {
            color: #0693ff;
            font-size: large;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
        }
        .inspiring-blogs {
            margin-top: 60px;
        }

        .small-blogs-list {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }


    @media only screen and (max-width: 500px) {
        padding: 0;

        h1,
        h2 {
            text-align: center;
        }

        .blogs-list {
            min-width: 300px;
            /* because min device width - iPhone 5*/
            margin: 0 40px;

        }
    }
}